PioTransfer.cache
PioTransfer.hw
PioTransfer.ip_user_files
PioTransfer.runs
PioTransfer.sim
PioTransfer.tmp
PioTransfer.xpr
*.log
*.jou
*.str
.Xil
*.cmd
PioTransfer.srcs/*/ip/*/*/**
PioTransfer.srcs/*/ip/*/*
!PioTransfer.srcs/*/ip/*/*.xci
PioTransfer.srcs/*/IpCustom/*/*
!PioTransfer.srcs/*/IpCustom/*/component.xml
!PioTransfer.srcs/*/IpCustom/*/hdl/
!PioTransfer.srcs/*/IpCustom/*/xgui/
PioTransfer.srcs/*/bd/**/*.*
!PioTransfer.srcs/*/bd/*/*.bd
!PioTransfer.srcs/*/bd/*/ui/*.ui
